/* Alapstílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #999;
    text-align: center;
    color: white;
    background-image: url("bg.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.base {
    max-width: 600px;
    opacity: 0.95;
    margin: 20px auto;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #c7c7c7;
}

/* Formázás a formokhoz */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select, button {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
select{
    background-color: #666;
    color: #ddd;
}

button {
    background-color: #95211b;
    color: white;
    cursor: pointer;
    border: none;
}


button:hover {
    background-color: #62120e;
}

.roundblock {
    margin-top: 20px;
    padding: 15px;
    background: #666;
    border-radius: 8px;
}

/* A dobások rugalmas elrendezése */
.roundblock div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/* Táblázat stílus */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #333;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #1f8a1e;
    color: white;
}

/* Reszponzivitás kisebb kijelzőkhöz */
@media (max-width: 480px) {
    .base {
        width: 90%;
        padding: 10px;
    }

    select, button {
        width: 100%;
    }
    button{
        margin-top: 10px ;

    }
    .roundblock div {
        flex-direction: column;
    }
}

